*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.bg{
    background: url('https://images.unsplash.com/photo-1493676304819-0d7a8d026dcf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80') no-repeat center center/cover;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    position: absolute;
    top: -30px;
    left: -30px; 
    filter: blur(0px);
    z-index: -1;
}
.loading{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    
}




